
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-2" style="border: 1px solid yellow;">
            </div>
            <div class="col-12 col-sm-8" style="border: 1px solid blue;">
                <router-outlet></router-outlet>
            </div>
            <div class="col-12 col-sm-2" style="border: 1px solid red;">
            </div>
        </div>
    </div>