<div class="cuadro">

</div>
<form action="">
    <div class="cuadro">
        <h2 style="margin-bottom: 20px;" class="font1">
            Registro de usuario
        </h2>
        <div class="row fila">
            <label for="nombre">
                Nombres:
            </label>
            <input type="text" class="form-control" placeholder="Ingresa tu nombre" id="nombre">
        </div>
        <div class="row fila">
            <label for="apellido">
                Apellidos:
            </label>
            <input type="text" class="form-control" placeholder="Ingresa tu apellido" id="apellido">
        </div>

        <div class="row fila">
            <label for="nacimiento">Fecha nacimiento:</label>
            <input type="date" id="nacimiento" name="nac"
                value="2000-01-01"
                min="1950-01-01" max="2021-12-31">
        </div>
        <div class="btn-group font1" style="margin-top: 20px; font-size: xx-large;">
            <button class="btn btn-outline-success">Registrar</button>
            <button class="btn btn-outline-danger">Cancelar</button>
        </div>
    </div>
</form>