.cuadro {
    max-width: 60%;
    /* border: 2px solid black; */
    margin: 50px auto;
    text-align: center;
}

.cuadro label {
    /* background-color: aqua; */
    width: 150px;
    padding: 7px;
    margin: 0px auto;
}

.cuadro input {
    /* background-color: yellowgreen; */
    width: 50%;
    margin: 0 auto;
}


.fila {
    /* background-color: blueviolet; */
    width: 100%;
    margin: 10px auto;
}
