<nav class="navbar navbar-expand-lg bg-danger navbar-dark sticky-top">
    <i class="fas fa-shopping-cart"></i>
    <span class="badge badge-pill bg-primary mr-2">1</span>
    <span><i class="fas fa-shopping-cart"></i></span>
    <a class="navbar-brand" href="#">
        holamundo
    </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link font1" routerLink="/home" routerLinkActive="active">home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font1" routerLink="/auth" routerLinkActive="active">auth</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link font1" routerLink="/login" routerLinkActive="active">login</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle font1" id="navbardrop" data-toggle="dropdown">Mas opciones</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item font1" href="#">Opción 1</a>
                    <a class="dropdown-item font1" href="#">Opción 2</a>
                    <a class="dropdown-item font1" href="#">Opción 3</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle font1" id="navbardrop" data-toggle="dropdown">Mas opciones</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item font1" href="#">Opción 4</a>
                    <a class="dropdown-item font1" href="#">Opción 5</a>
                    <a class="dropdown-item font1" href="#">Opción 6</a>
                </div>
            </li>
        </ul>
        <div class="btn-group my-2">
            <button type="button" class="btn btn-success text-light" routerLinkActive="active text-white btn-danger" routerLink="/auth/registro">Registrate</button>
            <button type="button" class="btn btn-primary text-light" routerLinkActive="active text-white btn-danger" routerLink="/auth/ingreso">Ingresar</button>
        </div>
    </div>

</nav>